.navigation {
    display: flex;
    gap: 30px;
    background-color: #333;
    border-radius: 24px;
    padding: 25px;
    width: 100%;
}

.navLink {
    color: #fff;
    text-decoration: none;
}

.navLink.active {
    font-weight: bold;
    text-decoration: underline;
}